@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap");

:root {
  --primaryColor: white;
  --secondaryColor: rgb(31, 132, 31);
  --textColor: black;
  --gray: rgba(42, 53, 62, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  border: none;
  list-style: none;
}

#body {
  font-family: "open san", "open san-serif";
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
  background: var(--primaryColor);
  color: var(--textColor);
}

#mainNavbar {
  background-color: green;
}

#mainNavbar .nav-item .nav-link {
  position: relative;
  color: var(--textColor);
}

#mainNavbar .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--secondaryColor);
  bottom: -3px;
  left: 0;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

#mainNavbar .nav-item:not(:last-child) .nav-link:hover::after {
  width: 100%;
}

.navbar-toggle:focus,
.navbar-toggle:active,
.navbar-toggle-icon:focus {
  outline: none;
  box-shadow: none;
}

section {
  padding: 5rem 0;
}

.text {
  color: var(--secondaryColor);
}

#btn {
  background-color: var(--secondaryColor);
}

.section-title {
  padding-bottom: 4rem;
  position: relative;
}

.sub-title {
  color: var(--secondaryColor);
  font-size: 11px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transfrom: translate(-50%, -50%);
  -o-transaform: translate(-50%, -50%);
}

.col-md-4 img {
  border-radius: 50%;
  border-right: 20px solid var(--secondaryColor);
}

/*HERO STARTS*/

#hero .social a {
  transition: all 0.4s;
  -webkit-transform: all 0.4s;
  -moz-transform: all 0.4s;
  -ms-transfrom: all 0.4s;
  -o-transaform: all 0.4s;
  color: var(--secondaryColor);
}

.full-stack {
  color: var(--secondaryColor);
  font-weight: bolder;
}

.full-stack:hover {
  font-size: 18px;
}

#hero .social a:hover {
  color: var(--textColor);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transfrom: scale(1.2);
  -o-transaform: scale(1.2);
}

#hero h1 .typer {
  color: var(--secondaryColor);
}

/*HERO ENDS*/

/*About starts*/

.exp {
  background-color: var(--secondaryColor);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  /* box-shadow: 0px 30px 45px rgba(142, 243, 102, 0.543); */
}

.exp-number {
  margin-top: 20px;
  margin-bottom: -3px;
}

/*About ends*/

/* skills section start */
.skills {
  background-color: var(--secondaryColor);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  /* box-shadow: 0px 30px 45px rgb(63, 210, 55); */
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transform: all 0.4s;
  -moz-transform: all 0.4s;
  -ms-transfrom: all 0.4s;
  -o-transaform: all 0.4s;
}

.skills:hover {
  transform: scale(1.12) rotate(-5deg);
  -webkit-transform: scale(1.12) rotate(-5deg);
  -moz-transform: scale(1.12) rotate(-5deg);
  -ms-transfrom: scale(1.12) rotate(-5deg);
  -o-transaform: scale(1.12) rotate(-5deg);
  box-shadow: 0px 10px 25px 10px rgb(145, 224, 145);
}

.row img {
  height: 300px;
  margin-top: 35%;
  border-radius: 50%;
}

/* skills section end */

/* portfolio section start */

#portfolio img {
  width: 100%;
  height: 350px;
  cursor: pointer;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  object-fit: cover;
}

#gallery-modal .modal-img {
  width: 100%;
}

.text-color {
  color: var(--secondaryColor);
}

#portfolio a {
  color: var(--secondaryColor);
}

/* portfolio section end */

/* contact section start */

.contact-bg {
  background-color: var(--secondaryColor);
  height: 70vh;
  padding: 50px;
}

a:hover {
  font-size: 15px;
  font-style: italic;
}

/* form input, textarea {
    color: var(--textColor)!important;
    background-color: var(--primaryColor)!important;
    border: 3px solid var(--gray)!important;
} */

.form-control::placeholder {
  color: rgba(231, 230, 230, 0.967);
}

@media screen and (max-width: 974px) {
  .contact-bg {
    height: 50vh;
  }
}

/* contact section end */
